<div class="row">
  <div class="col">
    <h2>Add new post</h2>
  </div>
</div>

<div class="row">
  <div class="col">

    <div class="form-group">
      <label for="post-title">Title:</label>
      <input type="text" class="form-control" [(ngModel)]="post.title">
      <h4>{{post.title}}</h4>
    </div>

    <div class="form-group">
      <label for="post-link">Link:</label>
      <input type="text" class="form-control" [(ngModel)]="post.link">
      <h4>{{post.link}}</h4>
    </div>
    <button type="button" class="btn btn-primary" (click)="onAddPost()" style="margin-bottom: 20px;">Save post</button>
    
  </div>

</div>