<div class="row">
  <div class="col">
    <div class="card mb-4">
      <h5 class="card-header">Add new post</h5>
      <div class="card-body">
        <div class="form-group">
          <label for="post-title">Title:</label>
          <input type="text" class="form-control" [(ngModel)]="title">
          <h4>{{title}}</h4>
        </div>
    
        <div class="form-group">
          <label for="post-link">Link:</label>
          <input type="text" class="form-control" [(ngModel)]="link">
          <h4>{{link}}</h4>
        </div>
        <button type="button" class="btn btn-primary" (click)="onAddPost()">Save post</button>
      </div>
    </div>
  </div>

</div>